//start header
.header {
	// .header__inner
	&__inner {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 48px 0 10px;
		z-index: 30;
		transition-duration: 1s;
		&.active {
			transition-duration: 1s;
			padding: 10px 0;
			background-color: rgba(0, 0, 0, 0.7);
		}
		&.displacement {
			margin-right: 0;
			margin-left: -260px;
			transition-duration: 1s;
			overflow: visible;
			@media (max-width: 319px) {
				margin-left: -230px;
			};
		}
		@media (max-width: 991.98px) {
			padding: 28px 0 10px;
		};
	}
	// .header__content
	&__content {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .header__logo
	&__logo {
		& img {
			@media (max-width: 991.98px) {
				max-width: 70%;
			};
		}
	}
	// .header__menu-row
	&__menu-row {
		@media (max-width: 991.98px) {
			display: none;
		};
	}
	// .header__menu-list
	&__menu-list {
		display: flex;
	}
	// .header__menu-item
	&__menu-item {
		// margin: 0 20px;
		+.header__menu-item {
			margin-left: 58px;
		}
	}
	// .header__menu-link
	&__menu-link {
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 21px;
		color: #fff;
		transition-duration: 0.3s;
		&:hover {
			transition-duration: 0.3s;
			color: #E8232E;
		}
	}
	// .header__info
	&__info {
		display: flex;
		align-items: center;
	}
	// .header__info-link
	&__info-link {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		color: #fff;
		margin-left: 50px;
		@media (max-width: 991.98px) {
			margin-right: 50px;
		};
		@media (max-width: 600px) {
			display: none;
		};
	}
	// .header__select
	&__select {
		position: relative;
		&:after {
			position: absolute;
			content: "";
			top: 8px;
			right: 0;
			width: 10px;
			height: 6px;
			pointer-events:none;
			background-size: 10px 6px;
			transition-duration: 0.3s;
			background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0.750001L0.714286 8.21863e-07L5.71429 5.25L5 6L0 0.750001Z' fill='white'/%3E%3Cpath d='M9.28571 0L10 0.75L5 6L4.28571 5.25L9.28571 0Z' fill='white'/%3E%3C/svg%3E%0A");
		}
		& select {
			position: relative;
			font-family: Roboto;
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 21px;
			color: #fff;
			appearance: none;
			background: transparent;
			overflow: hidden;
			cursor: pointer;
			border: 0;
			outline: 0;
			box-shadow: none;
			padding-right: 15px;
			& option {
				font-family: inherit;
				font-size: 16px;
				color: #000;
				appearance: none;
				background: #ccc;
			}
		}
	}
	// .header__phone-icon
	&__phone-icon {
		margin-left: 50px;
		margin-right: 50px;
		@media (max-width: 1490px) {
			margin-left: calc(20px + (50 - 20) * ((100vw - 320px) / (1490 - 320)));
			margin-right: calc(20px + (50 - 20) * ((100vw - 320px) / (1490 - 320)));
		};
		@media (min-width: 600px) {
			display: none;
		};
	}
}
//end header
//start model
.model {
	// .model__inner
	&__inner {
		width: 100%;
		height: 100vh;
		position: relative;
		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			right: 0;
			bottom: 0;
			background-color: #000;
			opacity: 0.6;
		}
	}
	// .model__image
	&__image {
		& source, img {
			width: 100%;
			height: 100vh;
			object-fit: cover;
			object-position:center;
		}
	}
	// .model__wrap
	&__wrap {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		@media (max-width: 479.98px) {
			bottom: auto;
			top: 50%;
			transform: translateY(-50%);
		};
	}
	// .model__body
	&__body {
		@media (min-width: 479.98px) {
			max-width: 50%;
		};
	}
	// .model__title
	&__title {
		font-family: Prata;
		font-style: normal;
		font-weight: normal;
		font-size: 96px;
		line-height: 115%;
		color: #fff;
		margin-top: 180px;
		margin-bottom: 70px;
		@media (max-width: 1490px) {
			font-size: calc(45px + (96 - 45) * ((100vw - 320px) / (1490 - 320)));
			margin-bottom: calc(30px + (70 - 30) * ((100vw - 320px) / (1490 - 320)));
			margin-top: calc(0px + (180 - 0) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .model__text
	&__text {
		position: relative;
		font-family: Inter;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;
		color: #fff;
		padding-left: 103px;
		max-width: 550px;
		max-height: 300px;
		overflow: hidden;
		&:before {
			position:absolute;
			content: "";
			top: 50%;
			left: 54px;
			transform: translateY(-50%);
			width: 2px;
			height: 120%;
			background: #E8232E;
			@media (max-width: 1490px) {
				left: calc(5px + (54 - 5) * ((100vw - 320px) / (1490 - 320)));
			};
		}
		@media (max-width: 1490px) {
			font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1490 - 320)));
			padding-left: calc(20px + (103 - 20) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .model__scroll
	&__scroll {
		position: absolute;
		cursor: pointer;
		bottom: 156px;
		right: 330px;
		width: 41px;
		height: 40px;
		background-color: transparent;
		border: 1px solid #fff;
		&:before {
			position:absolute;
			content: "";
			top: 50%;
			left: 51%;
			transform: translate(-50%, -50%);
			width: 17px;
			height: 10px;
			background-size: 17px 10px;
			background-image: url("data:image/svg+xml,%3Csvg width='17' height='10' viewBox='0 0 17 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 1.42857L8.49997 10L7.0833 8.57143L15.5833 0L17 1.42857Z' fill='%23E8232E'/%3E%3Cpath d='M8.49997 10L0 1.42858L1.41667 9.01081e-06L9.9167 8.57144L8.49997 10Z' fill='%23E8232E'/%3E%3C/svg%3E%0A");
			animation-name: move;
			animation-duration: 0.8s;
			animation-timing-function: linear;
			animation-delay: 0s;
			animation-iteration-count: infinite;
			animation-direction: alternate;
			animation-fill-mode: none;
			@keyframes move {
				0% {
					top: 45%;
				}
				100% {
					top: 55%;
				}
			}
		}
		@media (max-width: 1490px) {
			bottom: calc(40px + (156 - 40) * ((100vw - 320px) / (1490 - 320)));
			right: calc(40px + (330 - 40) * ((100vw - 320px) / (1490 - 320)));
		};
	}
}
//end model
// start advantages
.advantages {
	// .advantages__inner
	&__inner {
		padding-top: 190px;
		padding-bottom: 190px;
		@media (max-width: 1490px) {
			padding-top: calc(40px + (190 - 40) * ((100vw - 320px) / (1490 - 320)));
			padding-bottom: calc(40px + (190 - 40) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .advantages__title
	&__title {
		margin-bottom: 45px;
		@media (max-width: 1490px) {
			margin-bottom: calc(10px + (45 - 10) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .advantages__heading
	&__heading {
		flex: 0 0 auto;
		position: relative;
		font-family: Prata;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 160%;
		color: #121925;
		padding: 59px 0;
		&:before {
			position:absolute;
			content: "";
			bottom: 33px;
			left:0;
			width: 94px;
			height: 1px;
			background: #E8232E;
			@media (max-width: 767.98px) {
				bottom: 0;
			};
		}
		@media (max-width: 1490px) {
			font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1490 - 320)));
		};
		@media (max-width: 767.98px) {
			padding: 0;
		};
	}
	// .advantages__row
	&__row {
		display: flex;
		justify-content: center;
		margin: 0 -46px;
		flex-wrap: wrap;
		@media (max-width: 767.98px) {
			margin: 0 -20px;
		};
	}
	// .advantages__card
	&__card {
		max-width: 433px;
		padding: 46px;
		@media (max-width: 767.98px) {
			padding: 20px;
		};
	}
	// .advantages__box
	&__box {
		display: flex;
		flex-direction: column;
		width: 100%;
		min-height: 100%;
	}
	// .advantages__head
	&__head {
		@media (max-width: 767.98px) {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
		};
	}
	// .advantages__icon
	&__icon {
		position: relative;
		width: 94px;
		height: 94px;
		background: #E8232E;
		border-radius: 50%;
		& svg {
			position:absolute;
			content: "";
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			@media (max-width: 767.98px) {
				width: 20px;
				height: 20px;
			};
		}
		@media (max-width: 767.98px) {
			max-width: 40px;
			width: 100%;
			height: 40px;
			margin-right: 20px;
		};
	}
	// .advantages__text
	&__text {
		flex: 1 0 auto;
		font-family: Inter;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;
		color: #4E535B;
		@media (max-width: 1490px) {
			font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1490 - 320)));
		};
	}
}
// end advantages
//start facts
.facts {
	// .facts__wrapper
	&__wrapper {
	}
	// .facts__content
	&__content {
	}
	// .facts__item
	&__item {
		display: flex;
		@media (max-width: 991.98px) {
			display: block;
		};
		&--outside {
			flex-direction: row-reverse;
			margin-bottom: 147px;
			@media (max-width: 991.98px) {
				margin-bottom: 0;
			};
		}
	}
	// .facts__image
	&__image {
		&--outside {
			text-align: right;
			min-width: 50%;
			flex: 0 1 50%;
			min-width: calc(50% + ((100vw - 149px) / 2));
		}
		@media (max-width: 991.98px) {
			text-align: center;
			min-width: auto;
		};
	}
	// .facts__picture
	&__picture {
		& source, img {
			height: 100%;
			@media (max-width: 991.98px) {
				max-width: 100%;
				height: auto;
				object-fit: cover;
				object-position:center;
			};
		}
		@media (max-width: 991.98px) {
			max-width: 100%;
		};
	}
	// .facts__discription
	&__discription {
		min-width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		&--outside {
			padding-left: 150px;
			@media (max-width: 991.98px) {
				padding-left: 0;
			};
		}
	}
	// .facts__title
	&__title {
		margin-bottom: 30px;
		@media (max-width: 1490px) {
			margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .facts__first-row
	&__first-row {
		padding-right: 40px;
		:first-child {
			margin-bottom: 20px;
		}
		:last-child {
			margin-top: 20px;
		}
		@media (max-width: 991.98px) {
			padding-right: 0;
			margin-bottom: 20px;
		};
	}
	// .facts__second-row
	&__second-row {
		min-width: 50%;
		padding: 0 142px;
		:nth-child(2) {
			margin-top: 40px;
			margin-bottom: 20px;
		}
		@media (max-width: 991.98px) {
			padding: 20px 0;
		};
	}
	// .facts__text
	&__text {
		font-family: Inter;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;
		color: #4E535B;
		&--padding {
			margin-top: 40px;
			margin-bottom: 20px;
		}
		&--list {
			position: relative;
			padding-left: 25px;
			&:before {
				position:absolute;
				content: "";
				top: 13px;
				left:0;
				width: 13px;
				height: 2px;
				background: #E8232E;
				@media (max-width: 991.98px) {
					top: 9px;
				};
			}
		}
		@media (max-width: 1490px) {
			font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1490 - 320)));
		};
	}
}
//end facts
// start parametrs
.parametrs {
	padding-top: 185px;
	padding-bottom:195px;
	@media (max-width: 1490px) {
		padding-top: calc(30px + (185 - 30) * ((100vw - 320px) / (1490 - 320)));
		padding-bottom: calc(30px + (185 - 30) * ((100vw - 320px) / (1490 - 320)));
	};
	// .parametrs__title
	&__title {
		margin-bottom: 90px;
		@media (max-width: 1490px) {
			margin-bottom: calc(10px + (90 - 10) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .parametrs__body
	&__body {
		width: 100%;
	}
	// .parametrs__heading
	&__heading {
		background: #4E535B;
	}
	// .parametrs__value-list
	&__value-list {
		overflow: hidden;
		border-bottom: 1px solid #D6D7D9;
	}
	&__heading, 
	&__value-list {
		display: flex;
		justify-content: space-between;
		padding: 0 66px;
		height: 99px;
		@media (max-width: 1490px) {
			height: calc(30px + (99 - 30) * ((100vw - 320px) / (1490 - 320)));
		};
		@media (max-width: 991.98px) {
			padding: 0 5px;
		};
	}
	&__sistem, 
	&__value {
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: Inter;
		font-style: normal;
		font-size: 18px;
		width: 150px;
		@media (max-width: 1490px) {
			font-size: calc(6px + (18 - 6) * ((100vw - 320px) / (1490 - 320)));
		};
	}
		// .parametrs__sistem
	&__sistem {
		overflow: hidden;
		font-weight: 600;
		line-height: 130%;
		text-transform: uppercase;
		color: #fff;
		&--title {
			justify-content: flex-start;
		}
	}
	// .parametrs__value
	&__value {
		font-weight: 300;
		line-height: 150%;
		color: #121925;
		&--title {
			justify-content: flex-start;
		}
	}
}
// end parametrs
//start more
.more {
	// .more__body
	&__body {
		margin-bottom: 200px;
		@media (max-width: 1490px) {
			margin-bottom: calc(40px + (200 - 40) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .more__container
	&__container {
		position: relative;
		width: 100%;
		&:before {
			position:absolute;
			content: "";
			top:0;
			right: 100%;
			height: 100%;
			width: 100%;
			background-color: #fff;
			z-index: 10;
			@media (max-width: 991.98px) {
				display: none;
			};
		}
	}
	// .more__wrapper
	&__wrapper {
		display: flex;
		margin: 80px 0;
		@media (max-width: 991.98px) {
			margin: 40px 0;
		};
		@media (max-width: 767.98px) {
			margin: 20px 0;
		};
	}
	// .more__item
	&__item {
		flex-grow: 0;
		max-width: 100%;
		@media (min-width: 991.98px) {
			&.swiper-slide-prev {
				visibility: hidden;
				opacity: 0;
			}
		};
		@media (max-width: 479.98px) {
			flex-grow: 1;
			width: 100%;
		};
	}
	// .more__picture
	&__picture {
		max-width: 100%;
		& source, img {
			object-fit: cover;
			object-position:center;
			max-width: 466px;
			@media (max-width: 479.98px) {
				max-width: 290px;
			};
		}
	}
	// .more__scroll
	&__scroll {
		position: relative;
		width: 100%;
		height: 1px;
		background: #A8A8A8;
		.swiper-scrollbar-drag {
			position: absolute;
			top: -5px;
			left: 0;
			max-width: 54px;
			height: 11px;
			background: #E8232E;
			border-radius: 5.5px;
			cursor: pointer;
		}
	}
	// .more__model
	&__model {
		font-family: Prata;
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 160%;
		max-width: 100%;
		@media (max-width: 1490px) {
			font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1490 - 320)));
		};
	}
}
//end more
//start contacts
.contacts {
	background: #121925;
	// .contacts__body
	&__body {
		display: flex;
		@media (max-width: 767.98px) {
			display: block;
		};
	}
	// .contacts__info
	&__info {
		min-width: 30%;
		flex: 0 1 30%;
		padding: 200px 0;
		@media (max-width: 767.98px) {
			padding: 40px 0;
			flex: 1 1 auto;
			min-width: auto;
		};
	}
	// .contacts__map
	&__map {
		position: relative;
		min-width: 70%;
		flex: 0 1 70%;
		min-width: calc(70% + ((100vw - 149px) / 2));
		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			width: 50%;
			height: 100%;
			background: linear-gradient(to right, rgba(18,25,37,1) 0%,rgba(18,25,37,0.99) 1%,rgba(125,185,232,0) 100%);
			z-index: 2;
			@media (max-width: 767.98px) {
				display: none;
			};
		}
		@media (max-width: 767.98px) {
			height: 400px;
			flex: 1 1 auto;
			min-width: auto;
		};
	}
	// .contacts__title
	&__title {
		color: #fff;
		margin-bottom: 55px;
		@media (max-width: 1490px) {
			margin-bottom: calc(20px + (55 - 20) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .contacts__address
	&__address {
	}
	// .contacts__heading
	&__heading {
		font-family: Prata;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 160%;
		color: #fff;
		margin-bottom: 15px;
		@media (max-width: 1490px) {
			font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .contacts__address-loc
	&__address-loc {
	}
	// .contacts__phone
	&__phone {
	}
	// .contacts__phone-link
	&__phone-link {
		display: block;
		transition-duration: 0.3s;
		&:hover {
			transition-duration: 0.3s;
			color: #E8232E;
		}
	}
	// .contacts__email
	&__email {
	}
	&__phone, 
	&__email {
		margin-top: 44px;
		@media (max-width: 1490px) {
			margin-top: calc(10px + (44 - 10) * ((100vw - 320px) / (1490 - 320)));
		};
	}
	// .contacts__email-link
	&__email-link {
		transition-duration: 0.3s;
		&:hover {
			transition-duration: 0.3s;
			color: #E8232E;
		}
	}
	&__address-loc, 
	&__phone-link, 
	&__email-link {
		font-family: Inter;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 150%;
		color: #A8A8A8;
	}
}
//end contacts
//start footer
.footer {
	background: #121925;
	// .footer__wrapper
	&__wrapper {
		padding: 90px 0;
		@media (max-width: 991.98px) {
			padding: 40px 0;
		};
	}
	// .footer__collumns
	&__collumns {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		@media (max-width: 991.98px) {
			display: block;
		};
	}
	// .footer__links
	&__links {
		display: flex;
		align-items: flex-end;
		@media (max-width: 767.98px) {
			display: block;
		};
	}
	// .footer__menu
	&__menu {
		display: flex;
		@media (max-width: 479.98px) {
			display: block;
		};
	}
	// .footer__element
	&__element {
		+ .footer__element {
			margin-left: 40px;
			@media (max-width: 479.98px) {
				margin-left: 0;
			};
		}
		&--padding {
			padding-right: 60px;
			@media (max-width: 479.98px) {
				padding-right: 0;
			};
		}
	}
	// .footer__title
	&__title {
		font-weight: 500;
		margin-bottom: 20px;
		// .footer__title--hidden
		&--hidden {
			opacity: 0;
			@media (max-width: 479.98px) {
				display: none;
			};
		}
		@media (max-width: 479.98px) {
			margin-top: 20px;
		};
	}
	// .footer__list
	&__list {
	}
	// .footer__item
	&__item {
		margin: 7px 0;
		@media (max-width: 991.98px) {
			margin: 15px 0;
		};
	}
	&__title, 
	&__link, 
	&__creator-name, 
	&__copyright {
		font-family: Inter;
		font-style: normal;
		font-size: 14px;
		line-height: 130%;
		color: #D6D7D9;
	}
	// .footer__link
	&__link {
		font-weight: 300;
		transition-duration: 0.3s;
		&:hover {
			transition-duration: 0.3s;
			color: #E8232E;
		}
	}
	// .footer__creator
	&__creator {
		display: flex;
		margin-left: 100px;
		transform: translateX(0);
		&:hover {
			.footer__creator-svg {
				transition-duration: 0.3s;
				transform: translateX(5px);
			}
		}
		@media (max-width: 767.98px) {
			margin-left: 0;
			margin-top: 20px;
		};
	}
	// .footer__creator-svg
	&__creator-svg {
		transition-duration: 0.3s;
	}
	// .footer__creator-name
	&__creator-name {
		font-weight: 300;
		color: #F4F4F4;
		margin-left: 15px;
	}
	&__copyright {
		margin-top: 20px;
	}
	// .footer__copyright
	&__copyright,
	&__rights, 
	&__policy {
		font-weight: 300;
		color: #fff;
		display: block;
		@media (max-width: 767.98px) {
			text-align: center;
		};
	}
	// .footer__date
	&__date {
		margin-bottom: 20px;
		@media (max-width: 767.98px) {
			margin-bottom: 5px;
		};
	}
	// .footer__rights
	&__rights {
		margin-bottom: 7px;
		@media (max-width: 767.98px) {
			margin-bottom: 0;
		};
	}
		// .footer__policy
	&__policy {
		
	}
	&__rights, 
	&__policy {
		transition-duration: 0.3s;
		&:hover {
			transition-duration: 0.3s;
			color: #E8232E;
		}
	}
}
//end footer
//start menu drop
.menu-drop {
	display: none;
	@media (max-width: 991.98px) {
		position: absolute;
		display: block;
		top: -10px;
		right: -105%;
		width: 100%;
		height: 100vh;
		background-color: #fff;
	};
	
	// .menu-drop__list
	&__list {
	}
	// .menu-drop__item
	&__item {
		margin: 20px 0;
	}
	// .menu-drop__link
	&__link {
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 35px;
		line-height: 40px;
		color: #000;
		width: 100%;
		padding-left: 20px;
		&--phone {
			font-size: 25px;
		}
	}
}
//end menu drop